extends layout

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        for post in contentful.posts
          #main.well.post-body
            a(href=post._url)
              h2.post-title= post.title

            img.post-image(src=post.image)
            .post-content
              if post.body
                != marked(post.body)

              iframe(width='100%', height='166', scrolling='no', frameborder='no', src=post.soundCloudLink)