doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/master.css')
  body
    block content

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
