@import '_settings'

normalize-css()
base()

body, html
  padding: 50px
  background: url('/img/binding_dark.png') repeat
#main
  float none !important
  h2
    padding-bottom 3px
    margin-top 15px
    font normal 3em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif
    color #070707
    letter-spacing -2px
    text-transform none
    a
      color #070707
      text-decoration none
      border none
  ul
    li
      list-style-type none
.post-title
  text-shadow 1px 1px 6px #303030
  filter dropshadow(color=#303030, offx=1, offy=1)
.post-image
  max-height 400px
.post-content
  padding-top: 20px
